**/node_modules
**/.next
**/.turbo
**/dist
**/build
**/coverage
**/.git
**/.env
**/.env.*
!**/.env.example
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
.DS_Store
.idea
.vscode
*.log
.local
.replit-artifact
artifacts/*/node_modules
artifacts/*/.next
artifacts/*/.turbo
